<div id="palm-dialog-content" class="palm-dialog-content"> 
    <div id="add-message-title" class="palm-dialog-title"> Add Message </div> 
		<div class="palm-dialog-separator"></div> 
		<div class="textfield-group" x-mojo-focus-highlight="true"> 
		    <div class="title"> 
		       <div x-mojo-element="TextField" id="messageTitle"></div> 
		    </div>  
		</div> 
		<div class="palm-dialog-buttons"> 
	    <div x-mojo-element="Button" id="okButton"> </div> 
	    <div x-mojo-element="Button" id="cancelButton"> </div> 
		</div> 
</div>