<div class='msg-header'><div class="msg">Quick Message</div></div>

<div class="show"> 
	<div class="fields">
		<div> <b>Message:</b> </div>
		<div> <b>Color:</b> </div>  
		<div> <b>Speed:</b> </div>  
		<div> <b>Alignment:</b> </div>     
	</div>	
	<div class="values">	
		<div id="msgName"> </div> 
		<div id="msgColor"> </div>
		<div id="msgSpeed"> </div>  
		<div id="msgAlign"> </div>                 
    </div> 
</div>
<div id="button">
	<div id="changeTitleButton" x-mojo-element="Button"></div>  
	<div id="changeColorButton" x-mojo-element="Button"></div>                       	
	<div id="changeSpeedButton" x-mojo-element="Button"></div>     
	<div id="changeAlignButton" x-mojo-element="Button"></div> 
	<div id="saveButton" x-mojo-element="Button"></div>         
</div>
